.Contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    /* need to adjust width and height for mobile */
    padding: 10%;
    background-color: lightgrey;
}

.contactForm > label {
    display: flex;
    flex-direction: column;
    padding: 2% 0;
}

.contactForm > label:last-child {
    margin: 0;
    text-align: center;
}

.contactSubmit {
    margin: 0 auto;
    background-color: lightskyblue;
    padding: 5%;
}

@media (max-width: 500px) {
    .contactForm {
        width: unset;
    }
}