.Contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 500px;
    /* need to adjust width and height for mobile */
}

.contactForm > label {
    display: flex;
    flex-direction: column;
}

.contactForm > label:last-child {
    margin: 0 auto;
    text-align: center;
}

.contactSubmit {
    margin: 0 auto;
}