.NavBar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    /* flex-basis: 5%; */
    background: white;
    /* padding: 2% 0; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}