.repoDiv {
    margin: 5% 10%;
    background-color: lightgray;
    border-radius: 10px;
    padding: 2% 5%;    
    text-align: center;
}

.repoLangsDiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.repoLangsDiv > * {
    margin: 0 5%;
}