.Portfolio {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.Portfolio > *:not(:first-child):not(:last-child) {
    flex: 1;
    margin: 0 10%;
}

/* .Portfolio > *:first-child, .Portfolio > *:last-child {
    flex: 0;
} */